In [3]:
import pandas as pd
tennis = pd.read_csv("tennis.csv")
tennis.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

In [4]:
# we can convert to categorical ordinal values (no one hot encoding)
from sklearn.preprocessing import LabelEncoder

enc = LabelEncoder()
tennis["outlook"] = enc.fit_transform(tennis["outlook"])
# overcast = 0, rainy = 1, sunny = 2
tennis["temp"] = enc.fit_transform(tennis["temp"])
# cool = 0, hot = 1, mild = 2
tennis["humidity"] = enc.fit_transform(tennis["humidity"])
# high = 0, normal = 1
tennis["windy"] = enc.fit_transform(tennis["windy"])
# False = 0, True = 1

tennis.head()

   outlook  temp  humidity  windy play
0        2     1         0      0   no
1        2     1         0      1   no
2        0     1         0      0  yes
3        1     2         0      0  yes
4        1     0         1      0  yes

In [5]:
X = tennis.iloc[:,0:4]
Y = tennis.iloc[:,4]

In [6]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()
model.fit(X,Y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [7]:
# predict play if sunny, cool, normal, False
model.predict([[2,0,1,0]])

array(['yes'], dtype='<U3')

In [8]:
from sklearn.metrics import accuracy_score
pred = model.predict(X)
accuracy_score(Y,pred)

0.9285714285714286